*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  font-weight: 400;
  font-family: "Proto Mono", sans-serif;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 88px;
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__logo {
  margin: 0px 30px 0px 0px;
}

.menu__list > li {
  position: relative;
  margin: 0px 0px 0px 20px;
}
.hero {
  background: linear-gradient(106.92deg, #FEAA56 26.85%, #FF952C 81.36%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hero_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero_title {
  font-weight: 700;
  font-size: 64px;
  line-height: 135.52%;
  color: #fff;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
}

body {
  font-family: "Inter", sans-serif;
}

@media (min-width: 767px) {
  .menu__list {
    display: flex;
    align-items: center;
  }
  .menu__list > li {
    padding: 10px 0px;
  }
}