.footer {
   padding: 40px 0 60px;
   background-color: #EBEBEB;

   &_items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }

   &_column {
      margin: 0px 10px 20px;
   }

   &_title {
      font-weight: 700;
      font-size: 20px;
      line-height: calc(24/20*100%);
      color: #000000;
      margin: 0px 0px 20px 0px;
   }

   &_phone {
      display: block;
      font-weight: 700;
      font-size: 20px;
      line-height: calc(24/20*100%);
      margin: 0px 0px 15px 0px;
      color: #596371;
   }

   &_text {
      font-weight: 300;
      font-size: 20px;
      line-height: calc(24/20*100%);
      margin: 0px 0px 18px 0px;
      color: #000000;
   }

   &_button {
      display: block;

      &:not(:last-child) {
         margin: 0px 0px 35px 0px;
      }
   }
}