.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10;
   background-color: #fff;

   &_lang {
      margin: 0px 20px 0px 0px;
   }

   &_wrapper {
      display: flex;
      align-items: center;
   }

   &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 88px;
   }

   &__menu {
      display: flex;
      align-items: center;
   }

   &__logo {
      margin: 0px 30px 0px 0px;

      svg {
         width: 165px;
         height: 48px;
      }
   }
}

.menu {
   &__list {

      >li {
         position: relative;
         margin: 0px 0px 0px 20px;
      }
   }
}