.howwork {
   padding: 60px 0 65px;

   &_title {
      font-weight: 700;
      font-size: 32px;
      color: #596371;
      margin: 0px 0px 20px 50px;
   }

   &_slider_item {
      margin: 0 50px;
   }

   &_wrapper {
      display: flex;
      align-items: center;
   }

   &_image {
      margin: 0px 15px 0px 0px;
   }

   &_block {
      img {
         width: 650px;
         height: 400px;
         border-radius: 15px;
         object-fit: cover;
      }
   }

   &_heading {
      font-weight: 700;
      font-size: 32px;
      line-height: calc(38/32*100%);
      color: #596371;
      margin: 0px 0px 15px 0px;
   }

   &_text {
      font-weight: 300;
      font-size: 24px;
      line-height: calc(30/24*100%);
      color: #596371;
   }
}

.main-slider-btn {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   border: none;
   padding: 0;
   z-index: 5;
   background-color: transparent;
}

.main-prev-btn {
   left: 0;
}

.main-next-btn {
   right: 0;
}

.slideInLeft {
   animation: slideInLeft 300ms;
}

.animated {
   animation-duration: 1s;
   animation-fill-mode: both;
}



@keyframes slideInLeft {
   0% {
      opacity: 0;
      transform: translate3d(0, 0, -100%);
      visibility: visible;
   }

   100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
   }
}